REACT_APP_SUPABASE_URL=https://ecyxsyglfyiwyrummvcn.supabase.co
REACT_APP_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjeXhzeWdsZnlpd3lydW1tdmNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NDk2OTM5OTQsImV4cCI6MTk2NTI2OTk5NH0.W3Z9S9QlBSl5KN-xT6-yLbhdyAhuSQF7Zbg-08spiKE